* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,body {
    height: 100%;
}

/********************** HEADER **********************/

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 25px 25px;
    background-color: white;
    height: 8%;
    z-index: 10;
    border-bottom: 1px solid black;
}

.header-1 {
    float: left;
    padding-right: 30px;
    font-family: "HK Gothic Black", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 220px;
}

.header-1 a {
    text-decoration: none;    
    color: black;
}

.header-1 a:hover {
    color: lime;
}

.header-2 {
    float: left;
    font-family: "HK Gothic Black", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    width: 250px;
}

.header-2 a {
    text-decoration: none;    
    color: black;
}

.header-2 a:hover {
    color: lime;
}

.header-3 {
    float: right; 
    font-family: "HK Venetian", cursive;
    font-size: 1.1rem;
    color: black;
}


/********************** TEXT SIZES **********************/

h1 {
    font-family: "HK Gothic Reg", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    padding-bottom: 30px;;
}

h2 {
    font-family: "HK Gothic Reg", sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
}

h4 {
    font-family: "GT America", sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding-top: 20%;
    float: left;
    width: 150px;
    line-height: 1.5;
}

h4 a {
    color: black;
    text-decoration: none;
}

h4 a:hover {
    text-decoration: underline;
}

h5 {
    font-family: "GT America", sans-serif;
    font-size: 0.7rem;
    line-height: 1.5;
    text-transform: uppercase;
    float: left;    
    padding-top: 20%;
    padding-right: 25px;
}

p {
    font-family: "GT America", sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;
}

p a {
    color: black;
}
/********************** SECTION 1 **********************/

.box-1 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-1 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;
    border-bottom: 1px solid black;
}

.work-1 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.poster-2, .poster-3, .poster-4 {
    padding-top: 25px;
}
    
    
/********************** SECTION 2 **********************/

.box-2 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;        
    border-bottom: 1px solid black;
}

.copy-2 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;    
    border-bottom: 1px solid black;
}

.work-2 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.dos-2 {
    padding-top: 25px;
}


/********************** SECTION 3 **********************/

.box-3 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-3 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;    
    border-bottom: 1px solid black;
}

.work-3 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.pan-2, .pan-3, .pan-4 {
    padding-top: 25px;
}


/********************** SECTION 4 **********************/

.box-4 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-4 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;
    border-bottom: 1px solid black;
}

.work-4 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.unt-2, .unt-3, .unt-4, .unt-5 {
    padding-top: 25px;
}


/********************** SECTION 5 **********************/

.box-5 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-5 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;    
    border-bottom: 1px solid black;
}

.work-5 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.typo-2, .typo-3, .typo-4, .typo-5, .typo-6 {
    padding-top: 25px;
}

/********************** SECTION 6 **********************/

.box-6 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-6 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;    
    border-bottom: 1px solid black;
}

.work-6 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.stir-2, .stir-3, .stir-4, .stir-5 {
    padding-top: 25px;
}


/********************** SECTION 7 **********************/

.box-7 {
    float: left;
    background-color:white;
    width: 35%;
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 8%;    
    border-bottom: 1px solid black;
}

.copy-7 {
    float: left;
    background-color:white;
    width: 35%;
    position: relative;
    top: 0px;
    padding: 25px 25px 25px 25px;    
    border-bottom: 1px solid black;
}

.work-7 {
    background-color: white;
    float: right;
    width: 65%;
    padding: 25px 25px 25px 25px;
    position: relative;
    top: -1%;
    border-left: 1px solid black;
}

.vb-2, .vb-3, .vb-4, .vb-5, .vb-6, .vb-7 {
    padding-top: 25px;
}


/********************** FOOTER **********************/

.footer {
    background-color:white;
    position: relative;
    height: 70px;
    margin-top: -70px;
    clear: both;
    top: 8%;
    padding: 25px 25px 20px 25px;
}

.foot-1 {
    font-family: "HK Gothic Black", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    float: right;
    padding-top: 4px;
}

.foot-1 a {
    color: lime;
    text-decoration: underline;
}

.foot-2 {
    font-family: "HK Gothic Bold", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    float: right;    
    padding-top: 4px;
}

.foot-2 a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding-right: 25px;
}

.foot-2 a:hover {
    color: lime;
}


.foot-3 {
    font-family: "HK Gothic Bold", sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    float: right;    
    padding-top: 4px;
}

.foot-3 a {
    color: black;
    text-decoration: none;
    width: 100%;
    padding-right: 25px;
}

.foot-3 a:hover {
    color: lime;
}

.foot-4 {
    font-family: "HK Gothic Med", sans-serif;
    font-size: 0.7rem;    
    padding-top: 4px;
}

.foot-4 a {
    color: black;
    text-decoration: none;
    font-family: "HK Gothic Bold", sans-serif;
}



/********FONT FACE********/

@font-face {
    font-family: "HK Gothic Black";
    src: url("Fonts/HK_Gothic/TTF/HKGothic-Black.ttf") format("truetype"), 
         url("Fonts/HK_Gothic/WEB/HKGothic-Black.eot"),
         url("Fonts/HK_Gothic/WEB/HKGothic-Black.woff") format("woff"),
         url("Fonts/HK_Gothic/WEB/HKGothic-Black.woff2") format("woff2");
}
        

@font-face {
    font-family: "HK Gothic Bold";
    src: url("Fonts/HK_Gothic/TTF/HKGothic-Bold.ttf") format("truetype"),
         url("Fonts/HK_Gothic/WEB/HKGothic-Bold.eot"),
         url("Fonts/HK_Gothic/WEB/HKGothic-Bold.woff") format("woff"),
         url("Fonts/HK_Gothic/WEB/HKGothic-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "HK Gothic Reg";
        src: url("Fonts/HK_Gothic/TTF/HKGothic-Regular.ttf") format("truetype"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Regular.eot"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Regular.woff") format("woff"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "HK Gothic Med";
        src: url("Fonts/HK_Gothic/TTF/HKGothic-Medium.ttf") format("truetype"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Medium.eot"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Medium.woff") format("woff"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "HK Gothic Light";
        src: url("Fonts/HK_Gothic/TTF/HKGothic-Light.ttf") format("truetype"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Light.eot"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Light.woff") format("woff"),
            url("Fonts/HK_Gothic/WEB/HKGothic-Light.woff2") format("woff2");
}

@font-face {
    font-family: "HK Venetian";
    src: url("Fonts/HK_Venetian/HKVenetian-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "GT America";
    src: url("Fonts/GT_America/GT-America-Regular.otf") format("opentype");
}
